.favorites-section {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
  }
  
  .favorite-card {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .favorite-card img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .recommended-card {
    margin-top: 20px;
  }
  