.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #fff;
  }
  
  .profile-section {
    cursor: pointer;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .greeting {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .notification-icon {
    cursor: pointer;
    color: #333;
  }
  