.search-bar {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 15px;
  }
  
  .search-bar .header {
    display: flex;
    flex-direction: column;
  }
  
  .search-bar input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .categories {
    margin-top: 20px;
  }
  
  .categories button {
    background-color: #e6e6e6;
    border: none;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
  }
  