.search-bar {
  margin-bottom: 18px;
}

.search-input {
  width: 100%;
  padding: 13px 16px;
  font-size: 16px;
  border: 2px solid #2c2416;
  border-radius: 2px;
  outline: none;
  transition: all 0.15s;
  font-family: 'Georgia', serif;
  background: #fff;
}

.search-input:focus {
  border-color: #d97706;
  box-shadow: 2px 2px 0 #2c2416;
  transform: translate(-1px, -1px);
}

.search-input::placeholder {
  color: #999;
  font-style: italic;
}
