/* Style for the entire app */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  height: 100vh; /* Full viewport height */
}

.content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

@media (min-width: 600px) {
  .landing-page {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Styling the cards and layout for better spacing */
.favorites-section {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.favorite-card {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.favorite-card img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 10px;
}

.recommended-card {
  margin-top: 20px;
}
